<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Block_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>BluePoses_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,0},{80,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,56}}</string>
                <key>sourceSize</key>
                <string>{80,56}</string>
            </dict>
            <key>BluePoses_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,0},{80,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,56}}</string>
                <key>sourceSize</key>
                <string>{80,56}</string>
            </dict>
            <key>BluePoses_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,0},{80,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,56}}</string>
                <key>sourceSize</key>
                <string>{80,56}</string>
            </dict>
            <key>BluePoses_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,0},{80,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,56}}</string>
                <key>sourceSize</key>
                <string>{80,56}</string>
            </dict>
            <key>BrickOverlayBottomLeft_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,0},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>BrickOverlayBottomRight_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,0},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>BrickOverlayBottom_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,0},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>BrickOverlayLeft_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,0},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>BrickOverlayRightOld_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,0},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>BrickOverlayRight_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,56},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>BrickOverlayTopLeft_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,56},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>BrickOverlayTopRight_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,56},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>BrickOverlayTop_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,56},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>DirtAirLeft_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,56},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>DirtAirRight_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,56},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>DirtEdgeBottomLeft_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,56},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>DirtEdgeBottomRight_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,56},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>DirtEdgeBottom_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,56},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>DirtEdgeLeft_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,56},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>DirtEdgeRight_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,56},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Dirt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,56},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>DownSlash_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,56},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,56}}</string>
                <key>sourceSize</key>
                <string>{64,56}</string>
            </dict>
            <key>DownSlash_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,56},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,56}}</string>
                <key>sourceSize</key>
                <string>{64,56}</string>
            </dict>
            <key>DownSlash_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,112},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,56}}</string>
                <key>sourceSize</key>
                <string>{64,56}</string>
            </dict>
            <key>DownSlash_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,112},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,56}}</string>
                <key>sourceSize</key>
                <string>{64,56}</string>
            </dict>
            <key>GrassAirLeft_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,112},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>GrassAirRight_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,112},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>GrassBrick_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,112},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>GrassTransitionLeft_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,112},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>GrassTransitionRight_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,112},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Grass_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,112},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>HitEffect_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,112},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>HitEffect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,112},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>HitEffect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,112},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>IceCapLeft_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,112},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>IceCapRight_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,112},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Ice_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,112},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>IcyBlockLeft_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,112},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>IcyBlockRight2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,112},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>IcyPlatform_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,168},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>LandingEffect_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,168},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>LavaInterior_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,168},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>LavaSurface_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,168},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>NewPunch_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,168},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>NewPunch_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,168},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>NewPunch_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,168},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>NewPunch_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,168},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>Platform_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,168},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>RedPoses_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,168},{48,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,56}}</string>
                <key>sourceSize</key>
                <string>{48,56}</string>
            </dict>
            <key>RedPoses_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,232},{48,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,56}}</string>
                <key>sourceSize</key>
                <string>{48,56}</string>
            </dict>
            <key>RedPoses_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,232},{48,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,56}}</string>
                <key>sourceSize</key>
                <string>{48,56}</string>
            </dict>
            <key>RedPoses_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,232},{48,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,56}}</string>
                <key>sourceSize</key>
                <string>{48,56}</string>
            </dict>
            <key>SideSlashDifferent_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,232},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>SideSlashDifferent_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,232},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>SideSlashDifferent_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,232},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>SideSlashDifferent_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,232},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>StairCompatibleBrickMkIIIMask_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,232},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>StairEnd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,232},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>StairMask_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,232},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Stairs_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,288},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Straight3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,168},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>Straight3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,288},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>Straight3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,288},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>StraightPunch_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,168},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>StraightPunch_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,288},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>StraightPunch_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,288},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>TextBox_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,288},{240,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,55}}</string>
                <key>sourceSize</key>
                <string>{240,55}</string>
            </dict>
            <key>TreeBottom_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,288},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>TreeTop_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,288},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>UpSlash_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,232},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>UpSlash_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,343},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>UpSlash_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,343},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>UpSlash_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,343},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f7941e41b81d53317ceab4a91b85300:85d8e6d782001630adf971fdf21dd36c:db71e206b3c010bfb176561963c50b15$</string>
            <key>textureFileName</key>
            <string>sprites.png</string>
        </dict>
    </dict>
</plist>
